{% extends 'base.html' %}
{% block title %}
事項頁面
{% endblock %}
{% block content %}
{% if todo %}
<h2>{{todo.title}}
  {% if todo.important %}
  <span style="color:red">(重要)</span>
  {% endif %}
</h2>
<hr>
<li style="white-space: pre-line;list-style-type: none;">{{todo.text}}</li>
<li>{{todo.created}}</li>
<li>完成時間:
  {% if todo.date_completed %}
  {{todo.date_completed}}
  {% endif %}
</li>
<hr>
<form action="" method="POST">
  {% csrf_token %}
  {{form.as_p}}
  <input type="submit" value="更新">
</form>
{% else %}
無此代辦事項
{% endif %}
{% endblock %}