{% extends 'base.html' %}
{% block title %}
代辦事項頁面
{% endblock %}
{% block content %}
<h1>TodoList</h1>
{% for todo in todos %}
{% if not todo.completed %}
<li><span style="color:rgb(9, 9, 130)">[{{todo.created}}]</span>
  <a href="{% url 'todo' todo.id %}" style="color:black;text-decoration: underline;">
    {% if todo.completed %}
    <s>{{todo.title}}</s>
    {% else %}
    {{todo.title}}
    {% endif %}
  </a>
  {% if todo.important %}
  <span style="color:red">重要!</span>
  {% endif %}
</li>
<form action="{% url 'delete-todo' todo.id %}" style="display: inline;">
  <button type="submit" onclick="return confirm('是否刪除?')">刪除</button>
</form>
<form action="{% url 'completed-todo' todo.id %}" style="display: inline;">
  <button type="submit">完成</button>
</form>

{% endif %}
{% endfor %}
{% endblock %}